body {
  font-family: "Indie Flower", cursive;
  font-size: 80px;
}

.clock {
  display: flex;
  color: white;
  background-color: orange;
  border: solid 3px black;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  transition: 5s;
}

.clock:hover {
  color: black;
  background-color: purple;
  font-size: 40px;
  width: 30%;
}